*{
	padding: 0px;
	margin:0px;
	font-family: 'Roboto Condensed', sans-serif;


}
body{
	background: url(../img/galib2.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}

.container {
	
    width: 650px;
   margin: 10% auto;
 }

/* Login section */
.login-section{
	   
	 padding: 25;
    background-color: #ff130245;

}

.login-section img{
	width: 150;
    height: 150;
    margin: 0px auto;
    display: block;

}

.login-section h2{
	text-align: center;
    color: #000000;
    font-size: 34px;
    text-transform: uppercase;
    margin: 10px 0px;
}
}



.form-control{
	width: 100%;
    padding: 9px;
    margin-bottom: 10px;


}
.btn{
	background-color: #607d8b;
    color: aqua;
    padding: 8px 20px;
    border: white;
    display: block;
    margin: 0 auto;
    transition: 0.5s ease-in-out;
  /*  box-shadow: 3px 2px 3px #fff; */

}
.btn:hover{
	box-shadow: 1px 2px 5px #fff;

}

